body {
    top:10px;
	margin:0;
	background: url("/website_wedding/static/src/img/background.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-color: transparent !important;
}
header{

}

footer{
background-color: #FFFFFF !important;
opacity: 0.8;
}

.navbar-default{
    height: 250px;
    opacity: 1.0;
    background-color:transparent !important;
}
.navbar-default a{
    color: #FFFFFF !important;
    background-color:transparent !important;
    font-size: 20px;
}


#menu{
	height: 28px;
	background-color: #FFFFFF;
	
}
#menu a{
	padding: 10px;
	height: 40px;
	background-color: grey;
	text-decoration: none;
	color: white;
}
#menu a:hover{
	padding: 10px;
	height: 40px;
	background-color: black;
	text-decoration: none;
	color: white;
}

#layout{
	top:40px;
	background-color: #FFFFFF;
	box-shadow: 8px 8px 12px #aaa;

    margin: 0px;
    margin:0;
  	z-index: -1;   
  	/*opacity: 0.8;*/
}

#banner{
	height: 150px;
  	background-color: #FFFFFF;
  	/*opacity: 0.8;*/
}

#gallery{
	padding: 10px;
	text-align: center;
  	/*opacity: 0.8;*/
}

#pager{
	text-align: center;
  	background-color: #FFFFFF;
  	/*opacity: 0.8;*/
}

#picture{
    padding:10px;
	text-align: center;
	background-color:white;
}